<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content=" IE=edge">
    <meta name="viewport" content="widht=device-width, initial-scale=1">
    <title>To-Do lists</title>

    {% load static %}
    <link href="{% static "lists/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "lists/css/base.css" %} " rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="mt-4 d-flex justify-content-center jumbotron">
        <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="POST" action="{% block form_action %}{% endblock %}">
                {% csrf_token %}
                {{ form.text }}
                {% if form.errors %}
                <div class="form-group has-error">
                    <span class="help-block">{{ form.text.errors }}</span>
                </div>
                 {% endif %}
            </form>
        </div>
    </div>
        <div class="d-flex justify-content-center ">
                        {% block table %}
                        {% endblock %}
        </div>

</div>
</body>
</html>
